body {
    /*lettertypes*/
    font-family: Arial;
    font: normal 12px/150% Arial, Helvetica, sans-serif;

    /*lettergrootte*/
    font-size: 1.5em;

    /*letterkleur*/
    color: red;

    /*tekst in het vet*/
    font-weight: bold;

    /*tekst onderlijnen*/
    text-decoration: underline;



    /*display  https://developer.mozilla.org/en-US/docs/Web/CSS/display#:~:text=The%20display%20CSS%20property%20sets,inner%20and%20outer%20display%20types.*/

    display: block; /*blokkeert de volledige lijn van links tot rechts*/
    display: inline-block;/*blokkeert de lijn enkel het deel van de lijn waar er elementen staan*/
    display: none; /* niets tonen, leeg scherm*/
    display: flex; /*toont aan dat je wil gebruikmaken van een flexbox*/
    display: grid; /*toont aan dat je wil gebruikmaken van een grid*/
}
    /*voeg een nieuw lettertype toe*/
    @font-face { font-family: Helvetica;
    src: url('helvetica.ttf'); }


body{
    /*Achtergond*/
    background: #006699;

    /*Achtergrondkleur*/
    background-color: #006699;

    /*Achtergrond foto*/
    background-image: url("foto.png");

    /*achtergrond niet herhalen*/
    background-repeat: no-repeat;

    /*achtergrond positie*/
    background-position: left;

    /*achtergrond grootte*/
    background-size: contain;  /*passend*/

    /*padding*/
    padding: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;

    /*margin*/
    margin: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;

    /*border/rand*/
    border: 1px solid blue;

    /*2 aanliggende randen/borders samenvoegen*/
    border-collapse: collapse; /*https://developer.mozilla.org/en-US/docs/Web/CSS/border-collapse*/

    /*randen met afgeronde hoeken*/
    border-radius: 30px;

    /*tekst-align - uitlijning*/
    text-align: center;
    text-align: left;
    text-align: right;

    /*breedte*/
    width: 100px;

    /*hoogte*/
    height: 100px;

    /*overflow tekst past niet in het voorziene element https://developer.mozilla.org/en-US/docs/Web/CSS/overflow*/
    overflow: hidden; /*verberg de tekst die niet in het element past*/
    overflow: scroll; /*scrol naar de tekst die niet in het element past*/
    overflow: auto; /*bepaald zelf wat te doen met de overige informatie*/

    /**/


}
