body{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica;

}
.titel{
    background-image: url("header.jpg");
    background-repeat: no-repeat;
    height: 200px;
    color: white;
    font-size: 40px;
}
nav{
    padding-top: 10px;
    background-color: #444444;
    padding-bottom: 10px;
}
nav > a{
    color: #56FF92;
}
article{
    background-color: #CCCCCC;
    margin-top: 0;
}
article h1{
    font-size: 30px;
    color: #2B2D42;
    text-decoration: underline;
}